.container{
  margin-bottom: 100px;
}
.gamesList{
    list-style-type: none;
   

}
.gameItem{
    border-radius: 5%;
  
    margin: 5%;
   width: 33%;
  
}
.flex-container {
    display: flex;
    flex-direction: row;
   
    
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }