.carousel{
  position: relative;
  height: 700px;
  width: 80%;
  margin-bottom: 10px;
  margin: 0 auto;
}

.carousel_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container{
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  
}

.carousel__button--prev{
  left: -40px;
}

.carousel__button--next{
  right: -40px;
}
.carousel_button img{
  width: 12px;

}

.carousel__nav{
  /* background: pink; */
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.carousel__indicator{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, .3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel_indicator.current-slide{
  background: rgba(0, 0, 0, .75);

}

.is-hidden{
  display: none;
}